target/
test-output/
.DS_Store
.idea/
*.iml

/debug.log

/*/.classpath
/*/.project
/*/.settings
/*/logs
/.metadata
/Servers*/
/*/target/
/sandbox*/
logs/*
.idea
*.class
*.DS_Store
MANIFEST.MF
*/src/main/java/META-INF
rebel.xml
*~
App.java
.pydevproject
*.pyc
chromedriver.log
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar
/test-output/

# Intellij
*.iws